<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ypsilenna.Art</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <img src="https://github.com/Ypsilenna/ypsilenna.github.io/blob/main/static/image/muszelka.png?raw=true" class="menuicon">Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/Ypsilenna/ypsilenna.github.io/blob/main/static/image/gwiazda.png?raw=true" class="menuicon">Worldbuilding
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/stories">Stories</a></li>
            <li><a class="dropdown-item" href="/characters">Characters</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/Ypsilenna/ypsilenna.github.io/blob/main/static/image/muszelunia.png?raw=true" class="menuicon">Artworks
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/artworks">Illustrations</a></li>
            <li><a class="dropdown-item" href="/pixelarts">Pixel Art</a></li>
            <li><a class="dropdown-item" href="/doodles">Doodles</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" href="/videos"><img src="https://github.com/Ypsilenna/ypsilenna.github.io/blob/main/static/image/muszla3.png?raw=true" class="menuicon">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/posts"><img src="https://github.com/Ypsilenna/ypsilenna.github.io/blob/main/static/image/wodorosty.png?raw=true" class="menuicon">Blog</a>
        </li>
      </ul>
 
    </div>
  </div>
</nav>
