---
layout: default
---

<h1 class="title">{{ page.title }}</h1>

<div style="display: flex; justify-content: space-around; max-width: 900px; margin-top: 10px; margin-bottom: 10px; color: #484b52; flex-wrap: wrap; flex-direction: row;">
    {% assign characters = site.characters | sort: "stamp" %}
    {% for character in characters %}
<div style="position: relative; padding: 3px; margin: 5px; overflow: hidden; border-radius: 5px; text-align: center; text-overflow: ellipsis; background: white;">
            <a data-src="{{ character.avatar }}" data-caption="{{ character.title }}" href="{{ character.url | prepend: site.baseurl }}">
                <img src="/static/image/blank.png" data-echo="{{ character.avatar }}" alt="">
                        {{ character.title }}</a>
        </div>
        <div>

        </div>
    {% endfor %}
</div>

{% include lazyload.html %}
