---
layout: default
---

<h1 class="title">{{ page.title }}</h1>

<div class="artworks">
    {% assign characters = site.characters | sort: "stamp" %}
    {% for character in characters %}
        <div class="artworks-item">
            <a data-src="{{ character.avatar }}" data-caption="{{ character.title }}" href="/{{ character.title }}">
                <img src="/static/image/blank.png" data-echo="{{ artwork.thumbnail }}" alt="">
            </a>
        </div>
    {% endfor %}
</div>

{% include lazyload.html %}
