<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <div class="bubbles">    
            {% include menu.html %}
            {% include header.html %}         
        <div class="content-frame">
            <div id="content">
                {{ content }}
            <div id="corner1"><div id="credits"><sub>Copyright © 2025 Kornelia "Ypsilenna" Reza<br>
All drawings, stories and characters are a property of Kornelia "Ypsilenna" Reza unless stated otherwise <br>and may not be reposted, sold or altered without crediting the original author.</sub></div></div></div>
        </div>

        <div id="credits-mini">Copyright © 2025 Kornelia "Ypsilenna" Reza<br>
All drawings, stories and characters are a property of Kornelia "Ypsilenna" Reza unless stated otherwise and may not be reposted, sold or altered without crediting the original author.</div>
        <script src="/static/js/lightbox/js/jquery.magnify.min.js"></script>
    </body>
</html>
