---
layout: default
---
<br>
<div class="post">
    <h1 class="title">{{ page.title }}</h1>

    <div class="metadata">
        <i data-feather="calendar"></i>
        📅Posted: <time datetime="{{ post.date }}">{{ page.date | date: '%B %d, %Y'}}</time>
                <br/>

    </div>
<hr><br>    
    <div style="text-align: justify"><div class="novel-container"><div class="content">
        <img src="{{ page.cover }}">
        <h3> Author's note</h3>{{ content }}<br>
<button
  class="iine-button"
  data-icon="💜"
  aria-hidden="true">
</button>
    </div> </div></div>       <br><hr>
</div>
