---
layout: default
---
<p class="metadata-left"><b><a href="/pixelarts"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
  <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
</svg> Return to pixel art</a></b></p>
<div class="post">
    <h1 class="title">{{ page.title }}</h1>

    <div class="metadata">
        svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
  <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
</svg> Posted: <time datetime="{{ post.date }}">{{ page.date | date: '%B %d, %Y'}}</time>
                <br/>

    </div>
<hr><br>    
    <div style="text-align: justify"><div class="novel-container"><div class="content">
        <img src="{{ page.cover }}"><br><br>
        <h3> Author's note</h3><hr>{{ content }}<br>
<button
  class="iine-button"
  data-icon="💜"
  aria-hidden="true">
</button>
    </div> </div></div>       <br><hr>
</div>
