---
layout: default
---

<div class="post">
    <h1 class="title">{{ page.title }}</h1>

    <div class="metadata">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
  <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
</svg>        <time datetime="{{ post.date }}">{{ page.date | date: '%B %d, %Y'}}</time> | Mood: <span class="moods">{{ page.moods }}</span> <span class="bonus">{{ page.bonus }}</span>
        <br/>
        <i data-feather="tag"></i>
        {% for tag in page.tags %}
            <a class="btn btn-sm btn-outline-dark tag-btn" href="/tags/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
    </div>
<hr><br>    
    <div class="novel-container"><div class="content">
        {{ content }}

<button
  class="iine-button"
  data-icon="💜"
  aria-hidden="true">
</button>
    </div></div>       <br><hr>
</div>

