---
layout: default
---
<br>
<div class="post">
    <h1 class="title">{{ page.title }}</h1>

    <div class="metadata">
        <i data-feather="calendar"></i>
        📅Posted: <time datetime="{{ post.date }}">{{ page.date | date: '%B %d, %Y'}}</time> ⭐ Series: <i data-feather="tag"></i>
        {% for tag in page.tags %}
            {{ tag }}
        {% endfor %}
        <br/>✒️ Words: {{ page.words }} ⌛ Reading time: {{ page.rtime }}
        <br/>

    </div>
<hr><br>    
    <div style="text-align: justify"><div class="novel-container"><div class="content">
       <main id="top">
	   <a class="to-top" href="#top" aria-label="back to top"><img src="https://www.svgrepo.com/show/506650/chevron-top.svg" alt=""></a>
        {{ content }}</main>
<button
  class="iine-button"
  data-icon="💜"
  aria-hidden="true">
</button>
    </div> </div></div>       <br><hr>
</div>
